@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#image-skill {
  width: 100px;
  height: 100px;
}
#image-skill-2 {
  width: 80px;
  height: 80px;
}

#absoulute-item {
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    rgba(0, 0, 0, 0.9);
}
